[submodule "planit-vizsgaremek-fullstack"]
	path = planit-vizsgaremek-fullstack
	url = https://github.com/janoscsordas/planit-vizsgaremek-fullstack
[submodule "planit-vizsgaremek-dokumentacio"]
	path = planit-vizsgaremek-dokumentacio
	url = https://github.com/janoscsordas/planit-vizsgaremek-dokumentacio.git
